@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: rgb(130, 68, 245);
}
body {
  font-family: "Montserrat", sans-serif;
}
hr {
  margin: 2rem 0rem;
}
/* Container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: #fff;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}
