@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: rgb(130, 68, 245);
  --dark-gray: rgb(63, 61, 61);
}
body {
  font-family: "Montserrat", sans-serif;
}
hr {
  margin: 2rem 0rem;
}
/* Container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: #fff;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* Lists */
.list-non-bullet {
  list-style: none;
}
.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* Navigation */
.navigation {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-size: 1.1rem;
  font-weight: bold;
}
.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: #fff;
}

.navigation .link-active {
  font-weight: bold;
}

/* Header */
.hero {
  padding: 2rem;
}
.hero .hero-image {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  padding-top: 1rem;
  color: var(--dark-gray);
}
.hero .highlight {
  color: var(--primary-color);
}
