@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: rgb(130, 68, 245);
  --dark-gray: rgb(63, 61, 61);
  --off-white: rgb(214, 212, 212);
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}
hr {
  margin: 2rem 0rem;
}
/* Container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: #fff;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
}

/* Lists */
.list-non-bullet {
  list-style: none;
}
.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* Navigation */
.navigation {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-size: 1.1rem;
  font-weight: bold;
}
.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: #fff;
}

.navigation .link-active {
  font-weight: bold;
}

/* Header */
.hero {
  padding: 2rem;
}
.hero .hero-image {
  max-width: 80%;
  width: 550px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  padding-top: 1rem;
  color: var(--dark-gray);
  text-align: center;
}
.hero .highlight {
  color: var(--primary-color);
}

/* Section */
section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}
.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-top-right-radius: 0.5rem;
  padding: 2rem 1rem;
}

.footer-header {
  font-size: large;
  font-weight: bold;
}

.footer .link {
  color: #fff;
}

.footer ul {
  padding-inline-start: 0px;
}

/* projects */
.showcase-list {
  /* padding: 2rem; */
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/** blogs **/

.showcase-blog {
  padding-bottom: 6rem;
}
